<div class="form">
    <div id="response"><strong>Something went wrong</strong></div>
    <form class="login-form">
        <input type="password" id="lpassword" placeholder="gammelt passord"/><br>
        <input type="password" id="npassword" placeholder="nytt passord"/><br>
        <input type="password" id="rpassword" placeholder="nytt passord"/><br>
        <button type="button" onclick="updatePassword()">Oppdater passord</button>
    </form>
</div>
<div class="form">
    <div id="response-u"><strong>Something went wrong</strong></div>
    <form class="login-form">
        Fyll kun inn de feltene du ønsker å endre (når du endrer et felt blir dette satt til din verdi. Eks. Hvis du skal legge til et fast medikament må du fylle ut alle de faste medikamentene dine og skrive inn den nye)
        <input type="password" id="email" placeholder="ny e-post"/><br>
        <input type="password" id="address" placeholder="ny adresse"/><br>
        <input type="password" id="postcode" placeholder="ny postkode"/><br>
        <input type="password" id="postplace" placeholder="ny poststed"/><br>
        <input type="password" id="phoneNum" placeholder="nytt telefonnummer"/><br>
        <input type="password" id="allergier" placeholder="allergier"/><br>
        <input type="password" id="regularPills" placeholder="faste medisiner"/><br>
        <button type="button" onclick="updateInfo()">Oppdater Informasjon</button>
    </form>
</div>